* {
    -webkit-font-smoothing: antialiased;
}
html {
  	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	font-family: 'Rubik', sans-serif;
}
h1 {
    font-size: 28px;
    line-height: 1;
    margin: 0;
    font-weight: 500;
    color: #fff;
}
button:focus, .btn:focus, input#search, input#search:focus, input#search:active {
    outline: none;
    border: none;
    box-shadow: none;
}
/* —————————— TOGGLE MENU –––––––––– */
#nav {
    max-width: 280px;
    padding: 24px 15px;
    transition: 0.3s ease;
    background: #56749C;
	min-height: 100vh;
}
#nav.closed {
    margin-left: -230px;
}
#nav header {
    margin-bottom: 60px;
}
#toggle {
    margin: 0 15px;
    border: 0;
    background: transparent;
    padding: 0;
    max-width: 24px;
    height: 28px;
    opacity: 0;
    transition: 0.1s ease;
}
#toggle:before, #toggle:after {
    content: " ";
    height: 2px;
    width: 24px;
    background: #fff;
    position: absolute;
    right: 0;
}
#toggle:before {
    top: 8px;
}
#toggle:after {
    bottom: 8px;
}
#nav label {
    font-size: 14px;
    color: #fff;
    margin: 4px 4px 8px;
    opacity: 0.8;
    max-height: 21px;
    overflow: hidden;
}
#nav form {
    margin: 0 0 20px!important;
    background: #fff;
    border-radius: 2px;
    max-height: 48px;
    overflow: hidden;
}
#search, #nav form button {
    border-radius: 0!important;
    border: 0!important;
    background: transparent!important;
}
input#search {
    height: 48px;
}
#nav form button {
    color: #ccc;
}
#search-list {
    margin: 0px -15px;
}
#search-list .col-12 {
    padding: 0;
    margin: 0;
}
#search-list li {
    padding: 16px 20px;
    font-size: 17px;
    line-height: 1.2;
    color: #fff;
}
#search-list li:hover {
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1), transparent);
}
#search-list li.active, #search-list li.active:hover {
    background-image: linear-gradient(90deg, rgba(255,255,255,0.4), transparent);
}
#nav label, #nav form, #search-list {
    transition: 0.1s ease;
}
#nav.closed label, #nav.closed form, #nav.closed #search-list {
	opacity: 0;
}
#nav.open #toggle:before {
    transform: rotate(45deg);
    top: 13px;
}
#nav.open #toggle:after {
    transform: rotate(-45deg);
    bottom: 13px;
}

/* —————————— X –––––––––– */
#content {
    padding: 24px;
}
#weather {
    padding: 60px;
}
div#forecast {
    text-align: center;
}
img#icon {
    margin-top: -20px;
    margin-bottom: 20px;
}
div#date {
    text-align: right;
}
.bar {
    height: 8px;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #FCC737, #FF893F, #FF4F59, #9E7AD2);
    overflow: hidden;
    position: relative;
}
.status-bar {
    content: " ";
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    transition: 0.5s ease;
}
#details .row {
    margin: 20px 0 10px;
}
#details label {
    padding: 0 5px;
}
div#temperature {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
}
div#temperature span {
    font-size: 60px;
    margin-right: 6px;
    font-weight: 300;
    letter-spacing: -1px;
}
div#location {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 4px;
}
div#country {
    font-size: 17px;
    margin-bottom: 80px;
}
article#weather {
    background-size: cover!important;
    background-position: center center!important;
    position: relative;
    overflow: hidden;
}
article#weather:before {
    content: " ";
    background: rgba(39,44,59,0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div#temperature, div#location, div#country {
	color: #fff;
}
div#temperature {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 4px;
}
div#location {
    opacity: 0.8;
}
div#country {
	opacity: 0.6;
}
div#date {
	color: rgba(255,255,255,0.4);
}
div#feels-like, span#day, #details label {
	color: rgba(255,255,255,0.6);
}
div#feels-like span, span#time {
    color: #fff;
}
#details label.text-right {
    font-weight: 500;
    color: #fff;
}
article#weather > .row {
    position: relative;
}
div#date {
    position: absolute;
}

#date, #feels-like, .five-date, .five-temp {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.five-date {
    color: #999;
}
.five-temp {
	color: rgba(153,153,153,0.4);
}
.five-temp .high {
	color: rgba(153,153,153,1);
}
.five-temp .low {
	color: rgba(153,153,153,0.6);
}


div#feels-like {
    position: absolute;
    bottom: 0;
    text-align: center;
}
article#five-day {
    text-align: center;
}
article#five-day .col {
    width: 20%;
    display: inline-block;
    margin-bottom: 32px;
}


@media (max-width: 991px) {

div#date {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
div#country {
    margin-bottom: 40px;
}
img#icon {
    margin-top: 0;
    margin-bottom: 0;
}
div#feels-like {
    position: relative;
    margin-top: 40px;
}
#weather {
    padding: 40px 60px;
}
article#five-day .col {
    width: 30%;
}

}
@media screen and (max-width:767px) {

navigation#nav {
    position: fixed;
    z-index: 2;
    overflow: scroll;
    height: 100%;
}
section#content {
    margin-left: 50px;
}

}
@media screen and (max-width: 575px) {

#weather {
    padding: 30px 20px;
    border-radius: 0;
}
div#date {
    margin-bottom: 20px;
}
div#feels-like {
    margin-top: 25px;
}
#details .row {
    margin: 15px 0 10px;
}
#content {
    padding: 0;
}
div#location {
    margin-bottom: 0;
}
div#country {
    margin-bottom: 20px;
}
#icon {
    max-width: 60px;
}
img.five-icon {
    max-width: 80px;
}
article#five-day .col {
    padding: 0;
}
article#five-day {
    padding: 0 15px;
}
article#five-day .col {
    width: 50%;
}

}
@media screen and (max-width: 320px) {

}